{% macro render_call_todo(endpoint) %}

  {% import "common.html.njk" as common %}

  <main
    class="w-screen h-screen flex justify-center items-center"
    hx-get="{{ endpoint }}"
    hx-ext="client-side-templates"
    hx-swap="outerHTML"
    hx-target="this"
    hx-trigger="load delay:500ms"
    nunjucks-array-template="todo"
    hx-on:htmx:response-error="{{ common.show_error }}"
    hx-on:htmx:send-error="{{ common.show_error }}"    
  >
    <div 
      class="{{ common.button_default_style }} hidden uppercase bg-red-800" 
      id="{{ common.error_div_id }}"
    >
      {{ common.error_text }}
    </div>

    <div
      class="{{ common.button_default_style }} bg-yellow-500"
      id="{{ common.loading_div_id }}"
    >
      {{ common.loading_text }}
    </div>
  </main>

{% endmacro %}