{% import "common.html.njk" as common %}
{% from "page-nav.renderer.html.njk" import render_page_nav %}
{% from "page-content.renderer.html.njk" import render_page_content %}
  
{% macro render_main(props, update) %}
    {% set page = update.page or props.page %}

    <div hx-target="this" hx-swap="outerHTML" class="flex flex-col gap-6">
        <header tabindex="-1" class="flex justify-between w-full p-4 border-b border-purple-200">
            <h1
                class="
                    text-3xl font-extrabold text-transparent bg-clip-text
                    bg-gradient-to-r from-purple-400 to-pink-600
                "
            >
                {{ common.APP_NAME }}
            </h1>
            <div class="flex flex-row gap-2 items-center">
                {{ render_page_nav({ "page": page })}}
            </div>
        </header>
        <main class="px-4 flex flex-col gap-2">
            {{ render_page_content({ "page": page })}}
        </main>
    </div>

{% endmacro %}
