{% from "renderer.html.njk" import mount_main %}

<header
    class="
        mb-4 
        text-3xl 
        font-extrabold 
        text-gray-900 
        p-4
    "
>
    Lorem Ipsum
</header>

{{ mount_main({ "selected": "en" }) }}
