{% import "common.html.njk" as common %}

<h3 class="{{ common.button_default_style }} bg-green-800 text-center">
  {{ data.length }} items are fetched
</h3>

<table class="table table-active table-bordered table-hover" id="content">
  <thead>
    <tr class="uppercase">
      {% for label in [
        common.data_userId_column_label,
        common.data_id_column_label,
        common.data_title_column_label,
        common.data_completed_column_label
      ]%}
        <th>{{ label }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
      <tr>
        {% for cell in [
          row.userId,
          row.id,
          row.title,
          row.completed
        ]%}      
          <td class="w-25">{{ cell }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>