{% import "common.html.njk" as common %}

{% macro render_page_nav(props, update) %}
    {% set MESSAGES = common.PAGE %}
    {% set page = update.page or props.page %}

    <nav class="flex gap-6 flex-row justify-end">
        {{ _render_radio({ "MESSAGES": MESSAGES, "page": page }) | trim }}
    </nav>
{% endmacro %}

{% macro _render_radio(props) %}
    {% for id, _ in common.PAGE.labels %}
        <div class="flex items-center flex-row">
            <input
                {{ "checked" if (id == props.page) }}
                {{ "disabled" if (id == props.page) }}
                type="radio"
                value=""
                class="
{##}{##}{##}{##}    w-4 h-4
{##}{##}{##}{##}    text-blue-600 bg-gray-100 border-gray-300
{##}{##}{##}{##}    dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600
{##}{##}{##}{##}    {{ 'cursor-pointer' if (id != props.page) }}
{##}{##}{##}{##}    hidden
{##}{##}{##}{##}"
                hx-trigger="click"
                hx-ext="client-side-templates"
                hx-get="../_.json"
                nunjucks-template="{{ common.make_script_id({ 'page': id }) }}"
                id="{{ id }}"
            >
            <label
                class="
{##}{##}{##}{##}    flex flex-row gap-3 items-center 
{##}{##}{##}{##}    text-lg text-orange-600 
{##}{##}{##}{##}    {{ 'cursor-pointer' if (id != props.page) }}
{##}{##}{##}{##}    {{ 'underline' if (id == props.page) }} hover:underline 
{##}{##}{##}{##}"
                for="{{ id }}"
            >
                {{ common.PAGE.labels[id] }}
            </label>

            <script id="{{ common.make_script_id({ 'page': id }) }}" type="text/html">
{##}{##}{##}{##}{##}{% raw %}{% from "main.renderer.html.njk" import render_main %}{% endraw %}

{##}{##}{##}{##}{##}{{ "{% set props = " }}{{ props | dump(4) | safe }}{{ " %}" }}

{##}{##}{##}{##}{##}{{ "{% set update = {" }}
{##}{##}{##}{##}{##}    "page": "{{ id }}"
{##}{##}{##}{##}{##}{{ "} %}" }}

{##}{##}{##}{##}{##}{% raw %}{{ render_main(props, update) }}{% endraw %}
            </script>
        </div>
    {% endfor %}
{% endmacro %}
